VITE_STORAGE_PROVIDER=supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Storage buckets
VITE_EVENT_IMAGE_BUCKET=event-images
VITE_EVENT_EXCEL_BUCKET=event-excel
VITE_EVENT_PDF_BUCKET=event-pdf
